<h2>Add Interest Rate</h2>
<form (ngSubmit)="submitRate()" style="max-width: 400px;">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Date</mat-label>
    <input matInput type="date" [(ngModel)]="rate.businessDate" name="businessDate" required>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Term</mat-label>
    <input matInput [(ngModel)]="rate.term" name="term" required>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Rate Type</mat-label>
    <mat-select [(ngModel)]="rate.rateType" name="rateType" required>
      <mat-option value="Euribor">Euribor</mat-option>
      <mat-option value="Libor">Libor</mat-option>
      <mat-option value="ECB">ECB</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Value (%)</mat-label>
    <input matInput type="number" [(ngModel)]="rate.value" name="value" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
  


</form>
